main section.products-index,
main section.categories-show {

  .products {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;

    .product {
      // flex:      1;
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position:  relative;

      border:        1px solid #ccc;
      border-radius: 5px;
      padding:       15px;
      padding-bottom: 80px;
      margin-top:    20px;
      // margin:        10px;

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }

      footer {
        position: absolute;
        bottom: 0;
        left:   0;
        background-color: #EEE;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;

        p.rating {
          display: inline;
          margin-left: 7%;
        }
      }

      aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #eee;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
      }

      aside.sold-out {
        // CodeReviewNote: Organize css rules by 'category', totally optional but helps with readability a bit
        position: absolute;
        top: 0;
        left: 0;

        padding: 10px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 20px;

        font-size: 0.8em;
        color: white;
        background-color: #df8d8d;
      }


      &:hover {

        border-color: #999;

        footer {
          opacity: 1.0;

          p.rating {
            display: inline;
            margin-left: 7%;
          }
        }
      }

    }
  }
}

main section.products-show {

  .product-detail {
    img.main-img {
      max-width: 100%;
    }
  }
}

div.new-review {
  margin-left: 44%;
  margin-bottom: 5%;
}

div.reviews {
  margin-left: 50%;
}
