<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for shopping at Jungle.com!</h1>
    <p>
      You have successfully placed your order.
      Your order confirmation is: <%= @order.login %>.<br>
    </p>
  </body>
</html>
